@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-header {
  background-color: black;
  border-radius: 0px;
  border-bottom: 2px solid #FF3333;
}

.main-sidebar {
  color: white;
  background-color: black;
  height: 100%;
  width:100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar-menu .li .a{
  color:white;
  background-color: black;
  border-bottom: 2px solid #FF3333;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
/* General Links */
a {
  color: white;
}

.modal-dialog{
  color:black;
}
.navbar .ul{
  border-width: 3px;
  border-color: red;
  border-style: solid;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}


img {
	max-width: 100%;
	height: auto;
}

iframe {
  max-width: 100%;
  padding-right: 10%;
  height: auto;
	border: 0;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.brand {
	display: inline-block;
	color: #ecf0f1;
	font-size: 20px;
}

.panel {
  border-style: none;
  border-radius:0px;
}

.panel-inverse .panel-heading {
	background-color: black;
	color: #ecf0f1;
  border-style:solid;
  border-width: 2px;
  border-color: #FF3333;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.panel-inverse .panel-inverse .panel-heading{
  border-radius: 0px;
}

.panel-inverse .panel-body {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}



.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}