<template name="course">
  <div class="row">
    <div class="col-md-12">
      <h2>{{course.name}}</h2>
      <h3>{{course.code}}</h3>

      <p>
        {{assignments.count}} assignments
        <a href="/new-assignment?course_code={{course.code}}"
          class="btn btn-success btn-sm"
          data-toggle="tooltip" data-placement="right" title="New Assignment">+</a>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Type</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          {{#each assignments}}
            <tr>
              <td>{{title}}</td>
              <td>{{due_date}}</td>
              <td>
                {{#if isReading}}
                  Reading
                {{else}}
                  {{#if isNotGraded}}
                    Not Graded
                  {{else}}
                    Graded
                  {{/if}}
                {{/if}}</td>
              <td>
                <input type="checkbox" checked="{{isCompleted}}" class="toggle-completed"/>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

