<template name="course">
  <div class="row">
    <div class="col-md-12">
      <h2>{{course.name}}</h2>
      <h3>{{course.code}}</h3>

      <p>
        {{assignments.count}} assignments
        <a href="/new-assignment?course_code={{course.code}}"
          class="btn btn-success btn-sm"
          data-toggle="tooltip" data-placement="right" title="New Assignment">+</a>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Type</th>
            <th>Completed</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          {{#each assignments}}
            <tr>
              <td>{{title}}</td>
              <td>{{due_date}}</td>
              <td>
                {{#if isReading}}
                  Reading
                {{else}}
                  {{#if isNotGraded}}
                    Not Graded
                  {{else}}
                    Graded
                  {{/if}}
                {{/if}}</td>
              <td>
                <input type="checkbox" checked="{{isCompleted}}" class="toggle-completed"/>
              </td>
              <td>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#commentModal">Comment</button>

                <!-- Modal -->
                <div id="commentModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Comments</h4>
                      </div>
                      <div class="modal-body">
                        <tbody>
                        {{#each comments}}
                        <tr>
                          <td>{{author}}</td>
                          <td>{{date}}</td> /<!-- TODO: FORMAT DATE -->
                          <td>{{message}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                      </div>
                      <div class="modal-footer">
                        <form class="new-comment">
                          <input type="text" name="text" placeholder="Comment" style="width=100%" data-backdrop="static">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>