<template name="header">
  <nav class="main-header navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header content-header">
        <a class="navbar-brand hvr-glow" href="/">
          <span class="brand">SE 2020 Organizer</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if validLogin}}

            <form class="navbar-form navbar-right">
              
              <a href="{{currentUser.services.facebook.link}}" target="_blank">
                {{currentUser.profile.name}}
              </a>

              <button class="btn btn-default js-logout" style="margin-left:30px;">Log out</button>
            </form>
          {{/if}}
        </ul>
      </div>

    </div>
  </nav>
</template>
