<template name="home">
  <h2>Welcome!</h2>
  <p>
    Click a course on the left to view current assignments, readings and more!
  </p>
  <div class="row">
  	<div class="col-md-6">
  		<div class="panel">
  		</div>
  	</div>
  	<div class="col-md-6">
		  <div class="panel panel-default">
			  <body>
			  	<iframe src="https://www.google.com/calendar/embed?src=se2020organizer%40gmail.com" style="border: 0" width="400" height="600" frameborder="0" scrolling="no"></iframe>
			  </body>
			</div>
		</div>
	</div>

</template>