<template name="mainLayout">
  <div class="mainContainer">
    {{> header}}

    {{#if validLogin}}
      <div class="row">
        <!-- side nav -->
        <div class="col-sm-4 col-md-3">
          {{> nav}}
        </div>

        <!-- main viewport -->
        <div class="col-sm-8 col-md-9">
          {{> yield}}
        </div>

      </div>
    {{else}}
      <div class="row">
        <div class="col-md-12">
          {{> loginButtons}}
        </div>
      </div>
    {{/if}}

  </div>
</template>