<template name="nav">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        {{#each courses}}
          <li>
            <a href="/course/{{code}}">
              {{code}}
              {{#if showBadge code}}
                <span class="badge pull-right">{{getBadge code}}</span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>

      <div class="row">
        <div class="col-md-12">
          <a href="/new-assignment" class="btn btn-success btn-block">
            Add Assignment
          </a>
        </div>
      </div>

    </div>
  </div>
</template>