<template name="nav">
  <div class="navbar navbar-inverse">
        <ul class="nav nav-pills nav-stacked text-center">
          <li>
            <a href="{{currentUser.services.facebook.link}}" target="_blank" >
              <img class = "img-thumbnail" src="{{getAvatarURL}}" style="height: 80px;" />
              <br>Welcome, {{currentUser.profile.name}}
            </a>
          </li>
          {{#each courses}}
            <li>
              <a href="/course/{{code}}">
                {{code}}
                {{#if showBadge code}}
                  <span class="badge pull-right">{{getBadge code}}</span>
                {{/if}}
              </a>
            </li>
          {{/each}}
        </ul>
  </div>
</template>